body {
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2012/11/13/21969/e3f508fb8ebe3b917de57deeacb1129d-1400.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
